<ion-slides [options]="slidesOpt">

  <ion-slide class="slide-full" *ngFor="let publish of rates | groupby: 'date'">
      <ion-card>
        <ion-card-header color="primary">
          <ion-card-title>
            {{ publish.group | date :  "dd-MMM-y" }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content >

          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let currency of publish.rates | groupby: 'type'" size="6">
                <ion-label>{{ currency.group }}</ion-label>

                <ion-list>
                  <ion-item *ngFor="let rate of currency.rates">  
                    <ion-badge color="primary">{{ rate.currencyCode }}</ion-badge>
                    <ion-badge color="secondary">{{rate.rate}}</ion-badge>
                  </ion-item>
                </ion-list>
                
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- <ion-list>
            <ion-label>{{ getRateProperty(currency.group, 'name') }}</ion-label>
            <ion-item *ngFor="let rate of currency.rates">
              <ion-badge color="primary">{{ getRateProperty(rate.name, 'type') }}</ion-badge>
              <ion-label> {{ rate.rate }} </ion-label>
              <ion-badge color="secondary">{{ getRateProperty(rate.name, 'type') }}</ion-badge> 
            </ion-item>
          </ion-list> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>

</ion-slides>

