<ion-header>
  <ion-toolbar>
    <ion-title>
      Precio de Combustibles
    </ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label>Seleccionar Período</ion-label>
    <ion-datetime display-format="MM-YYYY"
                  placeholder="Mes y Año"
                  [min]="minDate"
                  [max]="maxDate"
                  (ionChange)="periodChanged( $event )">
    </ion-datetime>
  </ion-item>
  <ion-item *ngIf="daysToShow.length > 0">
    <ion-label>Seleccionar Día</ion-label>
    <ion-datetime display-format="DDDD DD"
                  picker-format="DDDD DD"
                  placeholder="Día"
                  [dayValues]="daysToShow"
                  (ionChange)="getFuelPrices( $event )"
                  [(ngModel)]="dayPicker">
    </ion-datetime>
  </ion-item>
</ion-header>

<ion-content></ion-content>
