<ion-header>
  <ion-toolbar>
    <ion-title>
      Precio de Combustibles
    </ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label>Seleccionar Peíodo</ion-label>
    <ion-datetime display-format="YYYY MMM"
                  picker-format="YYYY MMM"
                  placeholder="Mes y Año"
                  [value]="initialDate.toDate() | date: 'y MMM'"
                  [min]="minDate"
                  [max]="initialDate.toISOString()"
                  (ionChange)="periodChanged( $event )">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Seleccionar Día</ion-label>
    <ion-datetime #daySelector display-format="DD"
                  picker-format="DD"
                  placeholder="Día"
                  [dayValues]="daysToShow"
                  (ionChange)="getFuelPrices()"
                  [(ngModel)]="dayPicker">
    </ion-datetime>
  </ion-item>
</ion-header>

<ion-content>
  <app-fuel-prices *ngIf="fuelPrices.length > 0" 
                   [publishedDate]="dayPicker"
                   [fuelPrices]="fuelPrices"></app-fuel-prices>
</ion-content>
