<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasas de Cambio
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable
    color="primary"
    (ionChange)="changeBank( $event )">
    <ion-segment-button
      *ngFor="let bankCode of bankCodes"
      [value]="bankCode">
      <ion-label text-capitalizze> {{ bankCode.name }} </ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide class="slide-full" *ngIf="rates.length === 0">
      <ion-grid>
        <ion-row>
          <ion-col text-center *ngIf="isSearching">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-col>
          <ion-col *ngIf="!isSearching">
            <ion-label>No hay tasas de cambio</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <!-- <ion-slide class="slide-full" *ngFor="let publish of rates | groupby: 'date'"> -->
  <app-rate-slides *ngFor="let publish of rates | groupby: 'date'"
    [rates]="publish.rates"></app-rate-slides>
</ion-content>