<ion-header>
  <ion-toolbar>
    <ion-title>
      Tasas de Cambio
    </ion-title>
  </ion-toolbar>
  
  <ion-segment scrollable
               color="primary"
               (ionChange)="changeBank( $event )">
               <ion-segment-button
                          *ngFor="let bankCode of bankCodes"
                          [value]="bankCode">
                          <ion-label text-capitalizze> {{ bankCode.name }} </ion-label>
                </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <ion-slides [options]="slidesOpt">
    <ion-slide *ngFor="let rate of rates">
      <ion-card>
        <ion-card-title>
          {{ rate.date }}
        </ion-card-title>
        <ion-card-content> {{ rate.bank }} <br> {{ rate.rate }} </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>