<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta Contribuyente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Buscar por Nombre</ion-label>
    <ion-toggle mode="ios"
                color="tertiary"
                (ionChange)="changeSearchType()"
                [(ngModel)]="searchByName"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-searchbar animated="true"
                   debouce="1000"
                   placeholder="Buscar"
                   [type]="searchType"
                   (ionChange)="searchCompany( $event )"></ion-searchbar>
  </ion-item>

</ion-content>
