<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta Contribuyente
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label>Buscar por Nombre</ion-label>
    <ion-toggle mode="ios"
                color="tertiary"
                (ionChange)="changeSearchType()"
                [(ngModel)]="searchByName"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-searchbar debounce="1000"
                   placeholder="Buscar"
                   [(ngModel)]="searchTerm"
                   [type]="searchType"
                   (ionChange)="searchCompany( $event )"></ion-searchbar>
  </ion-item>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isSearching" name="lines"></ion-spinner>
    <ion-label *ngIf="!isSearching && searchTerm && !companyInfo">
      No hay información para mostrar. Término de búsqueda: '{{ searchTerm }}'
    </ion-label>
  </div>

  <app-company-info *ngIf="companyInfo" [companyInfo]="companyInfo"></app-company-info>

</ion-content>
